# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# 📌 Visual Studio-specific files
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
*.ncb
*.sdf
*.cachefile
*.dbmdl
*.bak
*.log
*.tlog

# VS temporary folders
.vs/
.vscode/
ipch/
*.VC.db
*.VC.opendb

# Build directories
Debug/
Release/
x64/
x86/
ARM/
ARM64/

# Others
*.code-workspace
*.tmp
*.swp
*.swo
*.~*
.DS_Store
Thumbs.db

